<div class="w-100 d-flex flex-column justify-content-around position-fixed" style="right: 0; top: 50vh;">
  <h1 class="w-100 text-center text-secondary">Coming Soon. Check back for updates.</h1>
</div>
