<div class="container mt-4">
  <h3 class="text-center mb-3">Our Approach</h3>
  <div class="row align-items-center">
    <div class="col-lg-8 mx-auto image-box text-center mb-lg-3">
      <%= image_tag("our-approach-MAPPING-spaces-Aug11-636x636.jpg") %>
    </div>
    <div class="col-lg-8 mx-auto">
      <p>
        Verapax specializes in participatory, collaborative, empowerment, and transformative approaches to engaging our
        clients and the communities they work with.
      </p>

      <h4>Our services:</h4>
      <ul>
        <li>
          Training for Capacity Development.
        </li>
        <li>
          Evaluation and Knowledge Mobilization.
        </li>
      </ul>

      <p>
        An initial discovery session with our clients is essential to help us design and deliver services that address
        their needs, challenges, and goals. The discovery process entails a series of open-ended questions which help us
        produce a formal and comprehensive analysis of the client’s Terms of Reference (ToRs) and overarching goals for
        the evaluation, their needs and wants for their initiative, and uncover what it will take to achieve success for
        the client and their initiative.
      </p>
      <p>
        Upon completion of the discovery process we start putting together a plan of action responsive to the client’s
        priorities, needs and expectations. The plan of action also addresses the ways we will communicate, check in,
        and meet their various other needs.
      </p>
      <p>
        Quality assurance of our services is principles-based and client-centered: We engage our clients and their key
        interest at giving us feedback on our services and deliverables. This is done through semi-structured dialogue
        circles where we provide our clients and collaborators a culturally safe space to offer-receive feedback using
        Indigenous principles of Respect, Relevance, Reciprocity, Responsibility, and Relationships (5 Rs).
      </p>

      <h4>Professional Standards, Guidelines and Ethics</h4>
      <p>
        Our methodologies follow principles and values inspired in the work of scholars Archibald’s (2008) Storywork;
        Tuhiwai-Smith’s (2012) Decolonizing Research; Kirkness and Barnhardt’s (1991) 4Rs; and Parent’s (2014) 5th R.
      </p>
      <p>
        We comply with the First Nations OCAP® Principles of data sovereignty and information governance. OCAP®
        (ownership, control, access, and possession) asserts that in Canada, First Nations alone have control over data
        collection processes in their communities, and that they own and control how this information can be stored,
        interpreted, used, or shared.
        Learn more at
        <%= link_to(nil, "https://fnigc.ca/ocap-training/", target: "_blank") %>.
      </p>
      <p>
        Read more at <%= link_to("Our professional evaluation communities", life_long_learning_path) %>.
      </p>
    </div>
  </div>
</div>
