<div class="container mt-4">
  <h3 class="text-center mb-3">Verapax Means</h3>
  <div class="row align-items-center">
    <div class="col-lg-8 mx-auto image-box text-center mb-lg-3">
      <%= image_tag("our-name-BE-KIND-11-aug-636x636.jpg") %>
    </div>
    <div class="col-lg-8 mx-auto">
      <p>
        The spirit of our name Verapax reflects our values, where we come from and the knowledge of our ancestors.
      </p>
      <ul>
        <li>
          Vera Pax. Latin words signifying truth and peace. Our lifelong commitment to authenticity, non-violence, and
          equitable and regenerative justice.
        </li>
        <li>
          Verapaz – Colonial name of a region in Guatemala, known for its leafy millenary forests, with ecosystems
          typical of rainforests. Two Mayan symbols of peace and healing are found in the Verapaz region:
        </li>
        <ul>
          <li>
            The Monja Blanca (White Nun) is a species of orchid. National flower in Guatemala. It is an epiphyte flower
            which means that while it does grow on other plants, mostly trees, it does not hurt their growth and grows
            in harmony with the other plant.
          </li>
          <li>
            The resplendent quetzalli (Nahuatl) or Quetzal is a bird of iridescent green or golden-green wing coverts,
            back, chest and head, a red belly, and large tail feathers.
          </li>
        </ul>
        <li>
          African Kwanza principle of Ujima (Collective Work and Responsibility). To build and maintain our community
          together and make our community’s problems our problems and to solve them together.
        </li>
        <li>
          African Kwanza principle of Nia (Purpose). To make our collective vocation the building and developing of our
          community to restore our people to their traditional greatness.
        </li>
        <li>
          African Kwanza principle of Kuumba (Creativity). To do always as much as we can to leave our community more
          beautiful and beneficial than we inherited it.
        </li>
      </ul>
    </div>
  </div>
</div>
