<div class="hero mb-5">
  <div class="d-flex align-items-center h-100">
    <div class="hero-image h-100 w-100 d-flex align-items-end">
      <div class="hero-content pb-5">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-lg-8 mx-auto">
      <h3 class="text-center mb-3">Let's Connect</h3>
      <p>
        We'd love to talk with you about how we can work together.
      </p>
      <h4>E-Mail</h4>
      <p>
        Send us an e-mail at <a href="mailto:info@verapax.org?subject=Information%20Request">info@verapax.org</a>.
      </p>
      <p class="small text-muted">
        When you click on the link, a window will open in your e-mail program.
        The e-mail program's window might be hidden behind another window.
      </p>
      <h4>Book a Free 30 Minute Consultation</h4>
      <p>
        Book your consultation on our
        <%= link_to("Calendly", "https://calendly.com/verapax/contactangela") %>
      </p>
      <h4>Mailing Address</h4>
      <address>
        312 Main St. 2nd Floor<br/>
        Vancouver BC  V6A 2T2
      </address>
    </div>
  </div>
</div>
