<%= hero %>
<div class="d-flex flex-column justify-content-center align-items-center">
<div class="fs-3 mb-3">
  Thank you for your message.
  We'll get back to you as soon as we can.
</div>
<div class="fs-3">
  <%= link_to_home %>
</div>
</div>
