@use "variables";
@use "bootstrap/scss/bootstrap";

@include bootstrap.media-breakpoint-up(lg) {
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-75 {
    width: 75%;
  }
}

.ticker-tape-container {
  overflow-x: hidden;
  width: 100%;
  display: flex;
}

.ticker-tape {
  --direction: normal;
  --duration: 45s;
  --delay: 0s;
  --iteration-count: infinite;
  display: flex;
  gap: 1rem;
  flex: 0 0 auto;
  margin-right: 1rem;
  min-width: 100%;
  align-items: center;
  animation: marquee var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker-tape img {
  padding: 0.25rem 1rem;
  height: 6rem;
  width: auto;
}
