// Steal enough of the accordion behaviour that I can make collapsible panels.
@use "bootstrap/scss/bootstrap";

.collapse-icon {
  --#{bootstrap.$prefix}accordion-btn-icon-width: #{bootstrap.$accordion-icon-width};
  --#{bootstrap.$prefix}accordion-btn-icon: #{escape-svg(
      bootstrap.$accordion-button-icon
    )};
  --#{bootstrap.$prefix}accordion-btn-active-icon: #{escape-svg(
      bootstrap.$accordion-button-active-icon
    )};
  --#{bootstrap.$prefix}accordion-btn-icon-transform: #{bootstrap.$accordion-icon-transform};

  flex-shrink: 0;
  width: var(--#{bootstrap.$prefix}accordion-btn-icon-width);
  height: var(--#{bootstrap.$prefix}accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--#{bootstrap.$prefix}accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--#{bootstrap.$prefix}accordion-btn-icon-width);
  @include bootstrap.transition(
    var(--#{bootstrap.$prefix}accordion-btn-icon-transition)
  );

  &:not(.collapsed) {
    background-image: var(--#{bootstrap.$prefix}accordion-btn-active-icon);
    transform: var(--#{bootstrap.$prefix}accordion-btn-icon-transform);
  }
}
