@use "variables";
@use "bootstrap/scss/bootstrap";

.icon-background {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  @extend .d-flex;
  background-color: #ffffff;
  background-image: url(variables.$baseurl + "/assets/images/verapax.png");
  background-position-x: center;
  background-position-y: 5px;
  box-shadow: 0 2px 4px 0 rgba(33, 37, 41, 0.1),
    0 7px 14px 0 rgba(33, 37, 41, 0.1);
}

.icon-number {
  // height: 0;
  @extend .w-100;
  // @extend .h-100;
  @extend .my-auto;
  color: bootstrap.$primary;
  font-family: bootstrap.$headings-font-family;
  @extend .h4;
  font-weight: 500;
  // line-height: 37px;
  line-height: 0;
  text-align: center;
}
