$baseurl: "";

$mice-font: 1rem;
$nav-and-footer-font: 1.125rem;
// If you're putting text in the brand, it's 1.5rem plus 0.5 rem top and bottom padding, plus line height, etc.
// The above statement is somewhat right, but I'm too frustrated to finish it.
$navbar-height: 6rem; // 4.0267rem;
$max-width: 1440px;
$paragraph-font: 1.375rem;
$tertiary: #8a6fb5;
// $tertiary: #D181A5;
