<div class="flex-shrink-1 text-white text-center">
  <small class="d-block lh-sm">
    We humbly acknowledge that our Canada-based office is situated on the shared,
    ancestral, traditional, and unceded territories of the xwməθkwəy̓əm (Musqueam), Skwxwú7mesh (Squamish),
    Stó:lō, and Səl̓ílwətaʔ/Selilwitulh (Tsleil-Waututh) People of Turtle Island. Indigenous peoples have been
    stewards, care takers and innovative leaders of the lands, waters and ice colonially known as Canada. We
    raise our hands up in gratitude to Indigenous peoples of Turtle Island for hosting us.
  </small>
  <small class="d-block lh-sm">
    Learn more about native land at
    <%= link_to(nil, "https://native-land.ca/", target: "_blank", class: "link-light") %>.
  </small>
</div>
