<!DOCTYPE html>
<html>
  <%= render partial: "head" %>

<body>
  <div class="d-flex flex-column justify-content-around">
    <div class="col-md-6 offset-md-3">
      <%= yield %>
    </div>
  </div>
<body>
</html>
