<!DOCTYPE html>
<html>
  <%= render partial: "head" %>

  <body>
  <%= render partial: "navbar" %>
  <div class="container-fluid container-lg">
    <%= yield %>
  </div>
  <div class="sticky-bottom d-flex">
    <%= link_to(new_contact_path, class: "ms-auto floating-cta-button btn bg-secondary text-light") do %>
      Contact Us<br/>
      <i class="bi bi-envelope"></i>
      <i class="bi bi-telephone"></i>
      <i class="bi bi-chat-square"></i>
    <% end %>
  </div>
  </body>
</html>
